@mixin text-title {
	font-family: "bree", "helvetica", arial, sans-serif;
	font-style: italic;
}

@mixin text-mono {
	font-family: "consolas", monospace;
}

@mixin text-body {
	font-family: "helvetica", trebuchet, sans-serif;
}


html {
	@include text-body;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

.content-container {
	max-width: 60rem;
	margin: auto;
}


.greeting {
	@include text-title;

	.title {
		font-size: 7.2rem;
	}

	.subtitle {
		font-size: 4.2rem;
		color: #ce4dd6;
	}
}

